<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mobilenumber %><br>
    <%= f.text_field :mobilenumber %>
  </div>
  <div class="field">
    <%= f.label :authtoken %><br>
    <%= f.text_field :authtoken %>
  </div>
  <div class="field">
    <%= f.label :locationtarget %><br>
    <%= f.text_field :locationtarget %>
  </div>
  <div class="field">
    <%= f.label :pricepoint %><br>
    <%= f.text_field :pricepoint %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
