<h1>Listing location_targets</h1>

<table>
  <thead>
    <tr>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Address</th>
      <th>Description</th>
      <th>Title</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @location_targets.each do |location_target| %>
      <tr>
        <td><%= location_target.latitude %></td>
        <td><%= location_target.longitude %></td>
        <td><%= location_target.address %></td>
        <td><%= location_target.description %></td>
        <td><%= location_target.title %></td>
        <td><%= link_to 'Show', location_target %></td>
        <td><%= link_to 'Edit', edit_location_target_path(location_target) %></td>
        <td><%= link_to 'Destroy', location_target, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location target', new_location_target_path %>
